<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv="V-UA-Compatible" content="IE=edge">
    <meta name='viewport' content="with=device-with, initial-scale=1.0">
    <title>fourth page</title>
</head>
<body>

    {% if n < 30 %}
        <ul>
            <li>mixa</li>
            <li>mixa</li>
            <li>mixa</li>
            <li>mixa</li>
        </ul>
    {% elif age > 25 %}
        <h3>aspl</h3>
    {% else %}
        <strong>hello else</strong>  
    {% endif %}

</body>
</html>