<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv="V-UA-Compatible" content="IE=edge">
    <meta name='viewport' content="with=device-with, initial-scale=1.0">
    <title>page7</title>
</head>
<body>
    <h1>How use code </h1>
    
    {% autoescape off %}
        {{mytag}}
    {% endautoescape %}

    <script>
        {% autoescape off %}
            {{myscript}}
        {% endautoescape %}
    </script>
    {% now 'DATE_FORMAT' %} <br>
    {% now 'DATETIME_FORMAT' %} <br>
    {% now 'SHORTDATE_FORMAT' %} <br>
    {% now 'SHORTDATETIME_FORMAT' %} <br>
    {% now 'Y-M-D H:i' %}<br>

    <a href="/step6/">link go to : page 6</a><br>

    <a href="{%  url 'template8' %} ">page nomber 8</a>

</body>
</html>