@font-face {
    font-family: 'yekan';
    src: url('../fonts/Yekan.eot?#')format('eot'),
        url('../fonts/Yekan.ttf')format('truetype'),
        url('../fonts/Yekan.woff')format('woff');
}

@font-face {
    font-family: 'koodak';
    src: url('../fonts/Yekan.eot?#')format('eot'),
        url('../fonts/Yekan.ttf')format('truetype'),
        url('../fonts/Yekan.woff')format('woff');
}